body {
    margin: 0px;
}

#navigation {
    background-color: aliceblue;
    display: block;
    position: fixed;
    width: 15em;
    height: 100%;
}

#content {
    background-color: white;
    display: block;
    position: absolute;
    left: 15em;
    width: calc(100% - 15em);
    height: 100%;
}