* {
    box-sizing: border-box;
}

body {
    background-color: darkolivegreen;

    margin: 0;
    padding: 0;
    border: 0;

    display: flex;
    justify-content: center;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
}

.center_bar {
    background-color: antiquewhite;
    width: max(50%, 50em);
    display: grid;
    column-gap: 0;
}

.top_bar {
    grid-area: 1 / 1 / 2 / 3; 

    background-color: brown;
}

.side_bar {
    grid-area: 2 / 1 / 3 / 2;

    background-color: aqua;

    padding: 0;
    margin: 0;
    
}

.text_bar {
    grid-area: 2 / 2 / 3 / 3;

    padding: 0;
    margin: 0;
    
}